body {
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

#mainFlexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#canvasContainer {
  width: 90%;
  height: 500px;
  /* Adjust based on your canvas size */
  background-color: #404854;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  font-size: 20px;
  color: #BBBBBB;
}

.credits {
  margin-top: 10px;
  font-size: 16px;
  color: #888888;
}